/* ::-webkit-scrollbar {
	width:6px;
    background-color:#626262; 
}
*/
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
	
}
body{
	font-family:Helvetica;
	
}
.container{
	display: flex;
}

li { 
	list-style-type: none;
}
h1 {
	line-height: 10px;
	color: #08a55e;
}
h2 {
	height: 12px;
	font-weight: bold;
}
h3 {
	color: #626262;	
}
p {
	color: #626262;	
	font-size: 14px;	
}

#home{
	padding-top: 8px;
}
ul.navOrder{ 
	padding-top: 30px;
}
#homeName{
	font-weight: bold;
	color: #08a55e;
	font-family: Helvetica;
	padding-left: 40px;
}
#homeName:hover{
	color: #078D51; 
	font-weight: bold;
	font-family: Helvetica;
	padding-left: 40px;
}
#rightImg{
	padding-left: 20px;
	font-size: 20px;
	font-weight: bold;
	background-color:#08a55e;
	text-align: center;
	width: -webkit-fill-available;
	height: -webkit-fill-available;
}
#topTitle{
	margin: auto;
	padding-top: 150px;
	display: flex;
}
#name{
	width: 360px;
	color: white;
	text-aligned: left;
}
#year{
	color: white;
	margin-top: 15px;
	margin-right: auto;
	padding-top: 13px;
}
#position{
	color: #626262;
	text-align: left;
}
/*
a:-webkit-any-link{
	color: black;
	text-decoration: none;
} */
a{
	text-decoration: none;
}
.leftNav{
	padding-top: 10px;
	color: #626262;
	min-width: 150px;
}

#aboutMe{
	margin: auto;
	color: #626262;
}
#aboutMe:hover{
	background-color: #AFAFAF;
	color: white;
}

#portfolio{
	margin: auto;
	color: #626262;
}
#portfolio:hover{
	background-color: #AFAFAF;
	color: white;
	
}
#resume{
	margin: auto;
	color: #626262;
}
#resume:hover{
	background-color: #AFAFAF;
	color: white;
}
#contact{
	margin: auto;
	color: #626262;
}
#contact:hover{ 
	background-color: #AFAFAF;
	color: white;
}
.rightContent{
	padding-top: 30px;
	font-size: 20px;
	font-weight: bold;
}
